*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cards{
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 25px;
    grid-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
.card {
    width: 300px;
    height: 250px;
    border-radius: 15px;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #312e2e;
    transition: 0.3s ease-out;
    overflow: visible;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   #card1{
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
   }
   #card2{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   }
   #card3{
    background: linear-gradient(-45deg, #080808, #454143, #a8c4ce, #d5e8e3);
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(244, 235, 235);
    
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(136, 132, 132, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }