/*****EXPERIENCE SECTION*****/
.bg-lightgrey {
	background-color: #1a1a1a;
}
.edu-exp {
	padding: 10px 0px;
	width: 48%;
	margin: 1%;
	float: left;
	padding-left: 10px;
}
.experience-list {
	width: 100%;
	float: left;
	padding: 30px 10px;
	background: #262626;
	margin-bottom: 20px;
}
.experience-content {
	width: 100%;
	float: left;
	margin-left: 10px;
}
.experience-content h2 {

	font-weight: 600;
	margin-bottom: 5px;
	font-size: 20px;
}
.experience-content h3 {
	color: #ffbf35;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 17px;
}
.experience-content p {
	font-size: 15px;
}